
static/lib
static/vendor/GonrinUI
static/vendors/GonrinUI
static/images/barcodes/*.png
alembic/**/__pycache_
alembic.ini_
alembic/versions
application/**/__pycache__

nohup.out
.vscode/*
.project
.pydevproject
.settings
dump.rdb
input_debug.log
final_bill_log_debug.log
/**/*.pyc
/**/*.DS_Store
